doctype
html
    head
        title zpyd-ts-express
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        
        link(href="/favicon.ico", rel="shortcut icon",type="image/x-icon")
        link(href="/styles.css", rel="stylesheet", type="text/css")
        
        script(src='node_modules/es6-shim/es6-shim.min.js')
        script(src='node_modules/systemjs/dist/system-polyfills.js')
        script(src='node_modules/angular2/es6/dev/src/testing/shims_for_IE.js')   

        script(src='node_modules/angular2/bundles/angular2-polyfills.js')
        script(src='node_modules/systemjs/dist/system.src.js')
        script(src='node_modules/rxjs/bundles/Rx.js')
        script(src='node_modules/angular2/bundles/angular2.dev.js')
        script(src='app/system.config.js')
        
        script.
            System.import('app/index')
            .then(null, console.error.bind(console));

    body
        my-app Loading...